<div align="center">
<h2>Account Settings</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class=col-sm-2 control-label"><%= f.label :first_name, "First Name" %></div>
      <div class="col-sm-10">
        <%= f.text_field :first_name, autofocus: true %>
      </div>
  </div>

  <div class="field">
    <div class=col-sm-2 control-label"><%= f.label :last_name, "Last Name" %></div>
    <div class="col-sm-10">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="field">
    <div class=col-sm-2 control-label"><%= f.label :email %></div>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div class=col-sm-2 control-label"><%= f.label :new_password %></div>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
  </div>

  <div class="field">
    <div class=col-sm-2 control-label"><%= f.label :current_password %></div>
      <div class="col-sm-10">
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
  </div>

<div align="center">
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>
</div>

<br />
<br

<div align="center">

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

    <%= link_to "Back", :back %>
</div>