<div class="row">

  <div class="col-md-3">
  	<%= form_tag("/search-by-genre") do %>
  		<%= select_tag "genre", options_for_select(@genres), onchange: "this.form.submit()" %>
		<% end %>
  </div>

  <div class="col-md-3">
		<%= form_tag("/search-by-title", method: "post") do %>
			<%= label_tag("Title")%>
			<%= text_field_tag(:title) %>
			<%= submit_tag ("submit") %>
		<% end %>
	</div>

	<div class="col-md-3">
		<%= form_tag("/search-by-actor", method: "post") do %>
			<%= label_tag("Actors")%>
			<%= text_field_tag(:actor) %>
			<%= submit_tag ("submit") %>
		<% end %>
	</div>

	<div class="col-md-3">
		<%= form_tag("/search-by-director", method: "post") do %>
			<%= label_tag("Director")%>
			<%= text_field_tag(:director) %>
			<%= submit_tag ("submit") %>
		<% end %>
	</div>

</div>

<div class="row">
	<h1>Favorites</h1>

</div>

<div class="row">
	<h1>Recently Watched</h1>

</div>

<div class="row">
	<h1>Results</h1>

	<div id="container" class="transitions-enabled">
		<% if @movies %>
			<div class="movies-list">
				<%= @movies.first(20).each do |movie| %>
					<div class="movie-title">
						<!-- <%= link_to movie.title, movie_show_path(movie.id) %> -->
						<a href="/movies/<%= movie.id %>">
							<% unless movie.poster_path.nil? %>
							<img class="item <%= ['w2', 'h2'].sample %>" src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>">
							<% end %>
						</a>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<% if @response %>
		<ul>
			<% @response.results.each do |result| %>
				<li><%= link_to result.title, movie_show_path(result.id) %></li>
			<% end %>
		</ul>
	<% end %>

	<% if @cast %>
		<ul>
			<% @cast.results.each do |result| %>
				<% result.known_for.each do |movie| %>
					<li><%= link_to movie.title, movie_show_path(movie.id) %></li>
				<% end %>
		    <% end %>
		</ul>
	<% end %>

	<% if @director %>
		<ul>
			<% @director.results.each do |result| %>
				<% result.known_for.each do |movie| %>
					<li><%= link_to movie.title, movie_show_path(movie.id) %></li>
					<% end %>
			<% end %>
		</ul>
	<% end %>

</div>