<div class="row">

  <div class="col-md-12">
  	<%= form_tag("/genre") do %>
  		<%= select_tag "genre", options_for_select(@genres) %>
  		<br>
  		<%= submit_tag "Search" %>
		<% end %>
  </div>

</div>

<div class="row">

	<h1>Favorites</h1>

</div>

<div class="row">

	<h1>Recently Watched</h1>

</div>

<div class="row">

	<h1>Results</h1>
	<% if @movies %>
		<ul class="movies-list">
			<%= @movies.first(10).each do |movie| %>
				<li class="movie-title">
					<%= movie.original_title %> <br>
					<img src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>">
				</li>
			<% end %>
		</ul>
	<% end %>

</div>







