<div class="row">

  <div class="col-md-12">
  	<%= form_tag("/genre") do %>
  		<%= select_tag "genre", options_for_select(@genres) %>
  		<br>
  		<%= submit_tag "Search" %>
		<% end %>
  </div>

</div>

<div class="row">
	<h1>Favorites</h1>

</div>

<div class="row">
	<h1>Recently Watched</h1>

</div>

<div class="row">
	<h1>Results</h1>

	<div id="container" class="transitions-enabled">
		<% if @movies %>
			<div class="movies-list">
				<%= @movies.first(20).each do |movie| %>
					<div class="movie-title">
						<!-- <%= link_to movie.title, movie_show_path(movie.id) %> -->
						<a href="/movies/<%= movie.id %>">
							<% unless movie.poster_path.nil? %>
							<img class="item <%= ['w2', 'h2'].sample %>" src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>">
							<% end %>
						</a>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>