<% if current_user.favorite_movie_ids.include?(params[:id]) == false %>
	
	<form action="/favorite-movies/add" method="post">
		<input type="hidden" name="movie_id" value="<%= @movie.id %>">
		<button type="submit">Add to Favorites</button>
	</form>

<% end %>
<% if current_user.watched_movie_ids.include?(params[:id]) == false %>
	
	<form action="/watched-movies/add" method="post">
		<input type="hidden" name="movie_id" value="<%= @movie.id %>">
		<button type="submit">Add to Watched</button>
	</form>

<% end %>

<h1>
	<%= @title %>
</h1>
<ul>Top Cast: <%= @cast.map(&:name).join (", ") %></ul>
<ul>
	Director: <%= @director.map(&:name).join (", ") %>
</ul>
<ul>
	Overview: <%= @overview %>
</ul>
<ul>
  	Release Date: <%= @release %>
</ul>
<ul>
  	Rated <%= @rating %> out of 10
</ul>
<ul>
  	<%= @genres.map(&:name).join(", ") %>
</ul>
<ul>
	<img src="https://image.tmdb.org/t/p/w300<%= @movie.poster_path %>">
</ul>