<h1>
	<%= @title %>
</h1>
<ul>Top Cast: <%= @cast.first(10).map(&:name).join (", ") %></ul>
<ul>
	Director: <%= @director.map(&:name).join (", ") %>
</ul>
<ul>
	Overview: <%= @overview %>
</ul>
<ul>
  	Release Date: <%= @release %>
</ul>
<ul>
  	Rated <%= @rating %> out of 10
</ul>
<ul>
  	<%= @genres.map(&:name).join(", ") %>
</ul>
<ul>
	<img src="https://image.tmdb.org/t/p/w300<%= @movie.poster_path %>">
</ul>